@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;

<h1>Edit</h1>

<h4>Edit this Student Profile: @Html.DisplayFor(model => model.StudentName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.StudentName)
  @Html.EditorFor(model => model.StudentName)

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back", "Index")</p>
